{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="container" style="margin-top:55px">
	<div class="row">
		<div class="col">
			<h2> Are you sure you want to delete {{category.name}}? </h2>
			<form action="#" method='post'>
				<button type="submit" class="btn btn-outline-danger" id="submit" type="submit">
					<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete</button>
				<a href='{{url_for('showCategories')}}'>
					<button class="btn btn-outline-secondary">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Cancel</button>
				</a>
			</form>
		</div>
	</div>
</div>
{% endblock %}