{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="container" style="margin-top:55px">
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>Add New Sport Category</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="#" method = "post">
				<div class="form-group">
				<label for="name">Name of the Sport:</label>
				<input type ="text" class="form-control" maxlength="100" name="name" required>
				<div class="padding-bottom"></div>
				<button type="submit" class="btn btn-outline-success" id="submit" type="submit">
				<span class="glyphicon glyphicon-glass" aria-hidden="true"></span>Add</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
