{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="container" style="margin-top:55px">
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>Add New Team</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="#" method="post">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type="text" maxlength="50" class="form-control" name="name" placeholder="Name of the team" required>

					<label for="description">Description:</label>
					<textarea class="form-control" maxlength="250" rows="3" name="description"
						placeholder="Description of the team" required></textarea>

					<label for="level">Level:</label>
					<div class="radio">
						<label>
							<input type="radio" name="level" id="level1" value="Professional" checked>Professional
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="level" id="level2" value="Collegiate">Collegiate
						</label>
					</div>
					<button type="submit" class="btn btn-outline-success" id="submit" type="submit">
						<span class="glyphicon glyphicon-glass" aria-hidden="true"></span>Add</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}