{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="container" style="margin-top:55px">
	<div class="text-center">
		<div class="row banner">
			<div class="col-md-11 col-md-offset-1 padding-none">
				<h1>{{ category.name }}
					<figure class="creator">
						<img src="{{ creator.picture}}" class="rounded-circle" alt="avi">
						<figcaption>{{ creator.name }}</figcaption>
					</figure>
				</h1>

			</div>
		</div>
		<div class="row padding-top padding-bottom">
			<div class="col-md-1"></div>
			<div class="col-md-11 padding-none">

			</div>
			<div class="col-md-7"></div>
		</div>
	</div>
	<div class="text-center">
		{% if items !=[] %}
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-4">
				<h2>Professional Team</h2>
				{% for i in items %}
				{% if i.level == 'Professional' %}
				<div class="item">
					<h3>{{i.name}}</h3>
					<p>{{i.description}}</p>

				</div>
				{% endif %}
				{% endfor %}
			</div>
			<div class="col-md-4">
				<h2>Collegiate Team</h2>
				{% for i in items %}
				{% if i.level == 'Collegiate' %}
				<div class="item">
					<h3>{{i.name}}</h3>
					<p>{{i.description}}</p>
				</div>
				{% endif %}
				{% endfor %}
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>
{% endif %}
{% endblock %}